<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <!-- <link rel="stylesheet" href="css/main.css" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/guestsInterface.js"></script>
  </head>
  <body align="center" >

    <p>Invite guests!</p><br><br>

    <p>Email addresses:</p>
    <div id="emails">
      <input type="text" class="attendeeEmail"><br>
      <input type="text" class="attendeeEmail"><br>
      <input type="text" class="attendeeEmail"><br>
    </div><br>
    <button id="addAnotherEmail">Add another email</button>

    <br><br><br><br>

    <button id="saveGuests">Save trip!</button><br>
    <p>(you can continue to edit and add guests and reminders etc)</p>

  </body>
</html>
