<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="icon" href="images/wing4.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/guestsInterface.js"></script>
    <script src="js/modal.js"></script>
  </head>
  <body align="center" >
    <nav>
      <ul>
        <img style="float:left" src="images/wingwithpink-01.png">
        <li><a href="/home" id="home">Home</a></li>
        <li><a href="/about" id="about">About</a></li>
        <li><input id="srchbar" type="search" placeholder="Search"></li>
        <li style="float:right"><a href="/logout" id="logout">Sign out</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="container card" style="padding:20px">
        <h2>Time to invite others to join you!</h2>
      </div>
        <div class="container card">
          <h3>Add everyone's email addresses:</h3>
          <p><em>If you don't know them all, just add the ones you have. You'll be able to send more out later.</em></p><br>
          <div id="emails">
            <input type="text" name="to" class="attendeeEmail"><br>
            <input type="text" class="attendeeEmail"><br>
            <input type="text" class="attendeeEmail"><br>
          </div>
          <div>
            <a href="#" id="addAnotherEmail">Add another email</a>
            <br>
            <button id="sendEmails" type="button" name="button">Send Invites! <i class="far fa-envelope"></i></button>
          </div>
        </div>
        <div class="container card emailconf">
          <h3><img src="../images/checkbox.png" alt="Check Box" height="22" width="22"><br>All done! Emails are winging their way to your friends:</h3><ul id="list"></ul>
        </div>
        <button id="saveGuests">Save trip <i class="fas fa-umbrella-beach"></i></button>
    </div>
    <div class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Your Search Results:</h2>
        <div class="searchResult">
        </div>
      </div>
    </div>
  </body>
</html>
