<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="greyBox">
      <div class="left">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Don't have an account yet?<br />Sign up for an account.</p>
          <button id="signUp">Sign Up</button>
        </div>
      </div>
      <div class="right">
        <div class="container">
          <h1>Sign In</h1>
          <p>Already have an account?<br />Sign in to your account.</p>
          <button id="signIn">Sign In</button>
        </div>
      </div>
    </div>
    <div class="whiteBox">
      <div class="container">
        <div id="signInForm">
          <h1>Sign In</h1>

          <form id="logIn" >
            <label for="email">Email:</label>
            <input type="email" name="email" />

            <label for="password">Password:</label>
            <input type="password" name="password" />

            <input type="submit" value="submit" id="logInButton"/>
            <!-- <button class="ellipse" id="logInButton">Sign In</button> -->
          </form>

        </div>
        <div id="signUpForm" style="display: none;">
          <h1>Sign Up</h1>

          <form action="/users/create" method="post" name="signUp" >
            <label for="firstname">First Name:</label>
            <input type="text" name="firstName" />

            <label for="lastname">Last Name:</label>
            <input type="text" name="lastName" />

            <label for="email">Email:</label>
            <input type="email" name="email" />

            <label for="phonenumber">Phone Number:</label>
            <input type="number" name="phoneNumber" \>

            <label for="password">Password:</label>
            <input type="password" name="password" />

            <button class="ellipse" type="submit">Sign Up</button>
          </form>

        </div>
      </div>
    </div>
  </body>
</html>
