<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="icon" href="images/wing4.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
    <div class="container" style="text-align:center">
      <img style="max-height:25vh" src="/images/wing2.png" alt="logo">
      <div class="container">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
      </div>
    </div>

    <div class="greyBox">
      <div class="left">
        <div class="container">
          <h1>Sign Up</h1>
          <p>Don't have an account yet?<br />Sign up for an account.</p>
          <button id="signUp">Sign Up</button>
        </div>
      </div>
      <div class="right">
        <div class="container">
          <h1>Sign In</h1>
          <p>Already have an account?<br />Sign in to your account.</p>
          <button id="signIn">Sign In</button>
        </div>
      </div>
    </div>

    <div class="whiteBox">
      <div class="container">
        <div id="logInDiv">
          <h1>Sign In</h1>
          <form name="logInForm" id="logInForm">
            <label for="email">Email:</label>
            <input type="email" name="email" />

            <label for="password">Password:</label>
            <input type="password" name="password" />

            <input type="submit" class="ellipse" id="logInButton" value="Sign In"/>
          </form>
        </div>
        <div id="signUpDiv" style="display: none;">

          <h1>Sign Up</h1>
          <form name="signUpForm" id="signUpForm">
            <label for="firstname">First Name:</label>
            <input type="text" name="firstName" id="firstName" />

            <label for="lastname">Last Name:</label>
            <input type="text" name="lastName" />

            <label for="email">Email:</label>
            <input type="email" name="signInEmail" />

            <label for="phonenumber">Phone Number:</label>
            <input type="number" name="phoneNumber"  />

            <label for="password">Password:</label>
            <input type="password" name="signInPassword" />

            <input type="submit" class="ellipse" id="signUpButton" value="Sign Up"/>
          </form>
        </div>
      </div>
  </body>
</html>
