<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Trip</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="newTripInterface.js"></script>
</head>
<body>
    <h1>Set up your trip</h1>
        <form name="addTrip">
            Name: <input type="text" id="tripName" name="tripName" placeholder="My fun trip" required><br>
            Description: <textarea type="text" id="description" name="description" placeholder="What do you have in mind?" rows="5" cols ="60" required></textarea><br>
            <br>
            <input type="submit" id="submit" value="Enter">
        </form>
    </body>
</html>
