<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/organiserTripHome.js"></script>
    <script src="js/modal.js"></script>
  </head>
  <body align="center" >
    <nav>
      <ul>
        <img style="float:left" src="images/wingwithpink-01.png">
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/about" id="home">About</a></li>
        <li><input id="srchbar" type="search" placeholder="Search"></li>
        <li style="float:right"><a href="/logout" id="logout">Sign out</a></li>
      </ul>
    </nav>
    <div class="container">
      <p>Trip name</p>
      <p>Trip description</p><br><br>

      <div style="width:700px;height:50px;background-color:#ffcc00;">
       (POLLS) <br> <span> Dates ---- Locations ---- Budget </span>
      </div>

      <br><br><br>

      <div style="width:700px;height:50px;background-color:#4286f4;">
         (DEADLINES) <br> <span> Dates ---- Locations ---- Budget </span>
      </div>

      <br><br><br>

      <div style="width:700px;height:50px;background-color:#f2bfeb;">
       (ATTENDEES) <br> <span> Confirmed ---- Unconfirmed </span><br>
       <button> Add guest </button>
      </div>

      <br><br><br>

      What do the guests need to do? <br>
      We'll send them reminders for you, just give us the task details and deadline. <br><br>
      <button id="addStage">Add a task</button>

      <div id="stageCreator" style="display: none;background-color:#ffcc00;">
        <p>What's this task called (e.g. Book flights): </p>
        <input type="text" id=""><br>
        <p>What's the message that you want us to send the guests. Include as much or as little detail as you like:</p>
        <input type="text" id=""><br>
        <p>What's the deadline:</p>
        <input type="text" id="deadline"><br>  <!-- This will need to be a date input -->
        <button id="saveStage">Save Reminder</button>
      </div>

      <br><br><br>

      <div style="width:700px;height:50px;background-color:#4286f4;">
         Here's all the reminders being sent out already: <br>
      </div>
    </div>
    <div class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Your Search Results:</h2>
        <div class="searchResult">
        </div>
      </div>
    </div>
  </body>
</html>
