<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/pollsInterface.js"></script>
  </head>
  <body align="center" >
    <nav>
      <ul>
        <img style="float:left" src="images/wingwithpink-01.png">
        <li><a href="/" id="home">Home</a></li>
        <li><a href="/about" id="home">About</a></li>
        <li style="float:right"><a href="/logout" id="logout">Sign out</a></li>
      </ul>
    </nav>
    <div class="container">
      <h2>This is where we create polls to find out the preferences of the guests.</h2>
      <h3>Guests will receive text messages to remind them to fill in the polls.</h3>
      <h3>You can skip this stage by clicking <a href="#">here</a>, or build whichever polls you need from the drop down list below.</h3>
    </div>
    <div class="container">
      <p>What do you and the rest of the guests need to decide on?</p>
      <select id="polls">
        <option id="blank"></option>
        <option id="datesPoll">Dates</option>
        <option id="locationPoll">Location</option>
        <option id="budgetPoll">Budget</option>
      </select>
      <br>
      <button id="buildPoll">Build Poll</button>
    </div>

    <div id="pollCreator" style="display: none;background-color:#ffcc00;">
      Add the options for guests to pick from: <br><br>
      <div id="pollOptions">
      <input type="text" class = "pollOption"><br>
      <input type="text" class = "pollOption"><br>
      <input type="text" class = "pollOption"><br>
      </div><br>
      <button id="addAnotherOption">Add another option</button><br>
      <p>Poll Deadline</p>
      <input type="date" id="deadline"><br>
      <button id="savePoll">Save Poll</button>
    </div>

    <br><br><br><br>

    (here we'll want 3 boxes to represent each poll, which will be ticked when the organiser has created that poll)
    <br><br>

    <button id="guests">Invite Guests</button>

  </body>
</html>
