<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Planning App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="icon" href="images/wing4.png" type="image/gif" sizes="16x16">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="js/pollsInterface.js"></script>
    <script src="js/modal.js"></script>
  </head>
  <body align="center" >
    <nav>
      <ul>
        <img style="float:left" src="images/wingwithpink-01.png">
        <li><a href="/home" id="home">Home</a></li>
        <li><a href="/about" id="about">About</a></li>
        <li><input id="srchbar" type="search" placeholder="Search"></li>
        <li style="float:right"><a href="/logout" id="logout">Sign out</a></li>
      </ul>
    </nav>
    <div class="container card" style="padding:0">
      <h2>This is where we create polls to find out the preferences of the guests.</h2>
      <h3>Guests will receive text messages to remind them to fill in the polls.</h3>
      <h3>You can skip this stage by clicking <a href="#">here</a>, or build whichever polls you need from the drop down list below.</h3>
    </div>
    <div class="container card">
      <h3>What do you and the rest of the guests need to decide on?</h3>
      <select id="polls" name="polls"></select>
      <br>
      <button id="buildPoll">Build Poll <i class="fas fa-vote-yea"></i></button>
    </div>

    <div class="container card" id="pollCreator" style="display: none;background-color:#ffcc00;">
          Add the options for guests to pick from: <br><br>


          <div id="pollOptions">
              <div class="option" id="option0">
                 <div class="userInput">
                     <input id="usersPollOption" type="text" name="userInput[]" />
                 </div>
                  <div class="removebtn"><button type='button' class='rmbtn'>(bin icon)</button></div>
              </div>
              <div class="addbtn">
                    <button type="button" class="addmore">Add another option</button>
              </div>
          </div>
          <p>Poll Deadline</p>
          <input type="date" id="deadline" min="">
          <button id="savePoll">Save Poll</button>
          <div class="small button">
            <button id="closePollCreator">Close</button>
          </div>
    </div>

    <br><br>
    <div id="pollsCreated"></div>
    <br><br>

    <button id="guests" onclick="window.location.href = '/guests';">Invite Guests <i class="fas fa-angle-double-right"></i></button>
    <div class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Your Search Results:</h2>
        <div class="searchResult">
        </div>
      </div>
    </div>
  </body>
</html>
