<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/users" method="post">
    Please Sign up!<br>
    <input type="text" name="firstName" placeholder="First Name">
    <input type="text" name="lastName" placeholder="Last Name">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="phoneNumber" placeholder="Phone number">
    <input type="text" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>
</html>