<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Trip</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link rel="icon" href="images/wing4.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/home.css" />
  <link rel="stylesheet" href="css/modal.css" />
  <link rel="stylesheet" href="css/comment.css" />
  <link rel="stylesheet" href="css/sidenav.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/tripHome.js"></script>
  <script src="js/comments.js"></script>
  <script src="js/sidenav.js"></script>
  <script src="js/tripHomeToDo.js"></script>
  <script src="js/tripHomePolls.js"></script>
  <script src="js/specialCharacters.js"></script>
  <script src="js/modal.js"></script>
  <script src="js/joinTrip.js"></script>
</head>
  <body align="center" >
    <nav>
      <ul>
        <img style="float:left" src="images/wingwithpink-01.png">
        <li><a class="active" href="/home" id="home">Home</a></li>
        <li><a href="/about" id="about">About</a></li>
        <li><input id="srchbar" type="search" placeholder="Search"></li>
        <li style="float:right"><a href="/logout" id="logout">Sign out</a></li>
      </ul>
    </nav>
    <div class="container">
      <br><br>  <br><br>
      <h1 id="trip-title"></h1>
      <h2 id="trip-description"></h2><br>

      <button id="join">Join <i class="far fa-laugh-beam"></i> </button>
      <div class="tripOverview">

        <div>
          <button id="nav"><i class="far fa-comment-dots"></i></button>
        </div>

          <div class="row1">
            <!--polls-->
          </div>
          <div class="row2">
            <div class="column">
              <div class="container card different" id="to-do">
                <h3>Your To-Do list</h3>
                <p id="stages-list" ></p> <br>
                <button style="display: none" id="addStage"> <i class="fas fa-pencil-alt"></i></button>

              </div>
            </div>
            <div class="column">
              <div class="container card different" id="attendees">
                <h3>Trip Attendees</h3>
                <p id="attendees-list" ></p>
                <button id="addUsers">Invite More <i class="fas fa-envelope"></i></button>
              </div>
            </div>
            <div class="column">
              <div class="container card different">
                <h3>Important Updates</h3>
                <p><em>Organiser only</em></p>
                <p id="important-comment-list"></p>
                <button id="showImportantCommentBox"> <i class="fas fa-pencil-alt"></i></button>

                <div class="hidden" id="addImportantCommentDiv">
                  <br>
                  <form name="addComment" id="addComment">
                    <textarea rows="3" cols="30" type="text" id="comment1"> </textarea>
                    <input type="button" class="ellipse" id="commentButton1" value="Update the attendees"/>
                  </form>
                </div>
              </div>
            </div>
          </div>


          <div id="stageCreator" class="container card" style="display: none;background-color:#ffcc00;">
            <br><br>
            <h3>Add a task for the guests: </h3>
            <p>Everyone will receive texts reminders as the deadline approaches.</p>
            <h3>What's the task called: </h3>
            <input type="text" id="stageName" placeholder="Eg. Book flights">
            <h3>What's the text message reminder that you want us to send the guests:</h3>
            <input type="text" id="stageContent">
            <h3>When do you want everyone to do this by:</h3>
            <input type="date" id="stageDueDate"> <!-- This will need to be a date input -->
            <button id="saveStage">Save Reminder</button>
            <div class="small-button">
              <button id="closeStageCreator">Close</button>
            </div><br><br>
          </div>


        <div class="sidenav" id="sidenav">
          <h2>Group chatter</h2>
          <p id="comment-list"></p>
          <button id="showCommentBox"> <i class="fas fa-pencil-alt"></i></button>

          <div class="hidden" id="addCommentDiv">
            <br>
            <form name="addComment" id="addComment1">
              <textarea rows="3" cols="30" type="text" id="comment2"> </textarea>
              <label class"pollLabel" for="announcement" id="announcement2-label">
                <input class="checkbox" type="checkbox" id="announcement2"/>
               This comment should appear in the Important Updates box.
                </label> <br>
               <input type="submit" class="ellipse" id="commentButton2" value="Add Comment"/>
            </form>
          </div>
          <div>
            <br>
          <span id="close" style="color:#475062; font-size: 15px">Close &times;</span>
          </div>
        </div>

        <div>
        <button id="leaveTrip">Leave trip <i class="far fa-sad-tear"></i></button>
        </div>

      </div>
    <div class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Your Search Results:</h2>
        <div class="searchResult">
        </div>
      </div>

    </div>
    </div>

    </body>
</html>
