<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/home.css" />
    <link rel="stylesheet" href="css/modal.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/specialCharacters.js"></script>
    <script src="js/tripInterface.js"></script>
    <script src="js/modal.js"></script>
</head>
    <body>
      <nav>
        <ul>
          <img style="float:left" src="images/wingwithpink-01.png">
          <li><a class="active" href="/" id="home">Home</a></li>
          <li><a href="/about" id="home">About</a></li>
          <li><input id="srchbar" type="search" placeholder="Search"></li>
          <li style="float:right"><a href="/logout" id="logout">Sign out</a></li>
        </ul>
      </nav>
      <h1 id="trip-title" > Overview</h1>
      <h3 id="trip-description" ></h3>

      <button id="join">Join</button>

      <h3>Stages</h3>
      <p id="stages-list" ></p> <br>
      <h3>Invites</h3>
      <p id="attendees-list" ></p>
      <div class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h2>Your Search Results:</h2>
          <div class="searchResult">
          </div>
        </div>
      </div>
    </body>
</html>
