<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trip</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="tripInterface.js"></script>
</head>
    <body>
      <h1 id="trip-title" > Overview</h1>
      <h3 id="trip-description" ></h3>

      <form name="addStage">
        <select id="stageName" name="stageName">
          <option value="Book flights">Book flights</option>
          <option value="Choose city">Choose city</option>
          <option value="Book hotel">Book hotel</option>
          <option value="Confirm attendance">Confirm attendance</option>
        </select>
        Description: <textarea type="text" id="stageContent" name="stageContent" placeholder="Describe the options for this stage" rows="5" cols ="60"></textarea><br>
        Due Date: <input type="date" id="stageDueDate" name="stageDueDate" required><br>
        <input type="submit" id="submit" value="Submit">
      </form>

      <h3 id="stages-list" ></h3>
    </body>
</html>
