body {
  display: grid;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.container:first-of-type {
  padding-top: 50px;
}

h1{
  font-size: 4vw;
  color: #292828;
}

h2{
  font-size: 2vw;
  color: #292828;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  color: #292828;
}

a:hover{
  color: #ee0979;
}

h3{
  font-size: 1.5vw;
  font-family: 'Roboto Condensed', sans-serif;
  color: #292828;
}

select{
  min-width: 135px;
  max-width: 200px;
  font-size: 1.5vw;
}

select:focus{
  outline: none !important;
  border:1px solid #ee0979;
}

nav {
  position: fixed;
  display: inline-block;
  top: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0.7;
  background: linear-gradient(to right, #b0c0c9, #616b80);
  /* position: fixed;
  display: inline-block;
  top: 0;
  width: 100%; */
}

li {
  float: left;
  font-size: 16px;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

li input[type="search"] {
  vertical-align: middle;
  margin: 12px 16px;
  font-size: 12px;
}

li input[type="search"]::placeholder {
  font-size: 14px;
}

li a:hover:not(.active) {
  background-color: #616b80;
}

.active {
  background-color: #616b80;
}

img {
    height: auto;
    width: auto;
    padding: 0px 16px;
    /* max-height: 40px; */
    max-width: 100px;
    margin: 10px 0px;
}

.logo {
  margin: 10px 0px;
}

button, input[type="submit"] {
  min-width: 135px;
  max-width: 200px;
  min-height: 50px;
  border: 0;
  outline: 0;

  color: white;

  /* pink to orange */
  background: #ee0979;
  background: linear-gradient(to right, #ee0979, #f4b11c);

  vertical-align: top;
}

input[type="submit"]:hover {
    background: #f4b11c;
    color: rgba(0,0,0,0.75);
    cursor:pointer;
}

input[type="submit"]{
  border-radius: 5px;
  vertical-align: bottom;
  margin-top: 10px;
  text-align: center;
}

input {
    text-align: left;
    font-size: 1.5vw;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #f4b11c;
    border-radius: 3px;
    color: #475062;
    width: 100%;
    padding: 5px;
}

input::placeholder {
  text-align: left;
  font-size: 1.2vw;
}

input:focus {
  outline: none !important;
  border:1px solid #ee0979;
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

label {
    display: block;
    margin: 10px 0 8px 0;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-size: 16px; */
    font-size: 1.5vw;
    box-sizing: border-box;
    text-align: left;

}

textarea {
  text-align: left;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid #f4b11c;
  border-radius: 3px;
  color: #475062;
  width: 100%;
  padding: 5px;
}

textarea:focus {
    background: rgba(0,0,0,0.05);
    outline: none !important;
    border:1px solid #ee0979;
}

textarea::placeholder {
  text-align: left;
  font-size: 1.2vw;
}

.card:first-of-type {
  margin-top: 10vh!important;
}
.card:last-of-type {
  margin-bottom: 10vh!important;
}

.card:not(.different) {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0, 0, 0, 0.39);
  margin:2.5vh 20vw 2.5vh 20vw!important;
  color:#000!important;
  background-color:rgba(255, 255, 255, 0.71)!important;
  padding:1em 16px;
  border-radius: 3px;
  text-align: center;
}

.different {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0, 0, 0, 0.39);
  color:#000!important;
  background-color:rgba(255, 255, 255, 0.71)!important;
  border-radius: 3px;
  text-align: center;
}

.pollOption {
  margin-top: 3px;
}

.attendeeEmail {
  margin-top: 3px;
}

.attendeeEmail:last-of-type {
  margin-bottom: 10px;
}

.option {
  display: table;
  margin: 4px;
  padding: 1px;
  box-sizing: border-box;
}

.userInput {
  display: table-cell;
  width: 100%;
  box-sizing: border-box;
}

.userInput > input, button {
  width: 100%;
  height: 100%
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}

.rmbtn {
  font-size: 2vw;
  margin: 0;
  vertical-align: middle;
  background: none;
}

.rmbtn:hover{
  background: none;
  color: #ee0979;
  cursor:pointer;
}

.small-button {
  display: static;
  box-sizing: border-box;
  background: none;
  color: #ee0979;
  cursor:pointer;
  margin: 0;
  vertical-align: middle;
}

#stages-list ul li > .small-button {
  display: inline-block;
}

#buildPoll {
  margin-top: 5px;
}

#guests {
  justify-self: center;
}

#saveGuests {
  margin-top: 20px;
  margin-bottom: 20px;
}
