body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}


h1{
  font-size: 4vw;
  color: black;
  text-shadow: 1px 1px 4px rgba(238, 10, 121, 0.81);
}

h2{
  font-size: 2vw;
  text-shadow: 1px 1px 4px #ee0979;
  color: #f4b11c;
  font-family: 'Roboto Condensed', sans-serif;
}

a{
  color: #f4b11c;
}

a:hover{
  color: #ee0979;
}

h3{
  font-size: 1.5vw;
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 1px 1px 4px #ee0979;
  color: #f4b11c;
}

select{
  min-width: 135px;
  max-width: 200px;
}

select:focus{
  outline: none !important;
  border:1px solid #ee0979;
}

button, input[type="submit"] {
  min-width: 135px;
  max-width: 200px;
  min-height: 50px;
  border: 0;
  outline: 0;

  color: white;

  /* pink to orange */
  background: #ee0979;
  background: linear-gradient(to right, #ee0979, #f4b11c);

  vertical-align: top;
}

input[type="submit"]{
  border-radius: 5px;
  vertical-align: bottom;
  margin-top: 10px;
  text-align: center;
}

input {
    text-align: left;
    font-size: 1.5vw;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #f4b11c;
    border-radius: 3px;
    color: #f4b11c;
    width: 100%;
    padding: 5px;
}

input::placeholder {
  text-align: left;
  font-size: 1.2vw;
}

input:focus {
  outline: none !important;
  border:1px solid #ee0979;
}

label {
    display: block;
    margin: 10px 0 8px 0;
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    /* font-size: 16px; */
    font-size: 1.5vw;
    box-sizing: border-box;
    text-align: left;

}

textarea {
  text-align: left;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid #f4b11c;
  border-radius: 3px;
  color: #f4b11c;
  width: 100%;
  padding: 5px;
}

textarea:focus {
    background: rgba(0,0,0,0.05);
    outline: none !important;
    border:1px solid #ee0979;
}

}
textarea::placeholder {
  text-align: left;
  font-size: 1.2vw;
}

.card {
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0, 0, 0, 0.39);
  margin:16px!important;
  color:#000!important;
  background-color:rgba(255, 255, 255, 0.71)!important;
  padding:1em 16px;
  border-radius: 3px;
}
