html {
  height: 100vh;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  align-items: center;
}

body::before {
  content: "";
  position: fixed;
  z-index: -1;
  height: 105vh;
  width: 105vw;
  top: -2.5vh;
  left: -2.5vw;
  display: block;
  background: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.greyBox {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
    width: 55%;
    margin: auto;
    background: rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
}

.greyBox .left, .greyBox .right {
    text-align: center;
    display: grid;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

h1 {
    font-size: 25px;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #f4b11c;
}

p {
    font-size: 12px;
    margin: 15px 0 0 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

button {
    font-size: 16px;
    margin: 25px 0 0 0;
    color: #f4b11c;
    border: 1px solid #f4b11c;
    background: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover {
    background: #f4b11c;
    color: rgba(0,0,0,0.75);
}

.whiteBox {
    box-sizing: border-box;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    vertical-align: middle;
    position: absolute;
    left: 50%;
    height: 450px;
    width: 25%;
    /* margin: auto; */
    margin-top: 15%;
    margin-bottom: 40px;
    background: white;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.2);
    transition: all 500ms ease-in-out;
}

.whiteBox .container {
    text-align: center;
}

.whiteBox #logInDiv, .whiteBox #signUpDiv {
    border: 3px double #f4b11c;
    padding: 20px;
}

input {
    text-align: left;
    font-size: 16px;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    border: 1px solid #f4b11c;
    border-radius: 3px;
    color: #f4b11c;
    width: 100%;
    padding: 5px;
    transition: all 300ms ease-in-out;
}


input:focus {
    background: rgba(0,0,0,0.05);
}

label {
    display: block;
    margin: 8px 0 2px 0;
    color: #f4b11c;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
    text-align: left;
}

label:first-of-type {
    margin-top: 10px;
}

.ellipse {
    font-size: 16px;
    margin: 25px 0 0 0;
    text-align:center;
    color: white;
    border: 1px solid #f4b11c;
    background: #ee0979;
    background: linear-gradient(to right, #ee0979, #f4b11c);
    font-family: 'Roboto Condensed', sans-serif;
    padding: 8px 20px;
    border-radius: 500px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.ellipse:hover {
    color: white;
    box-shadow: 0 0 8px 0 #f4b11c;
}
